// Body

$blue: #2563eb !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #15803d !default;
$teal: #20c997 !default;
$cyan: #0891b2 !default;
